.wrapper-main {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    width: 60%;
    margin: auto;
}

a.nav {
    background-color: white;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {

    .wrapper-main {
        width: 100%;
        text-align: left;
    }

    a.nav {
        padding: 1px;
        margin: 1px;
        display: block;
        border: 1px;
        border-color: black;
    }

    p {
        font-size: 20px;
        width: 100%;
    }

}

img {
    border-radius: 75px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}

audio::-webkit-media-controls-mute-button {
    background-color: whitesmoke;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: whitesmoke;
    border-radius: 50%;
}



audio::-webkit-media-controls-timeline-container {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    display: none;
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button

